.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    position: relative;
    background-color: #f7f2f2;
    margin-bottom: 100px;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 228px;
    height: 32px;
    margin-left: 64px;
    margin-top: 30px;
  }
  
  .main-title {
    position: absolute;
    font-size: 102px; /* Уточненный размер шрифта */
    line-height: 96px; /* Уточненная высота строки */
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: 730px; /* Ширина, указанная на референсе */
    height: 64px; /* Высота блока согласно референсу */
    display: flex;
    align-items: center; /* Вертикальное центрирование */
    justify-content: start; /* Горизонтальное выравнивание влево */
    margin-top: 400px;
    margin-left: 64px;
  }
  
  .sub-title {
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 18px;
    line-height: 25px;
    margin-left: 64px;
    max-width: 386px; /* Фиксированная ширина для текста */
    width: 100%;
    margin-top: 686px;
    font-weight: normal;
}
  
  .sub-title a {
    color: #2780ed;
    text-decoration: none;
  }
  
  .header__main-illustration {
    position: absolute;
    right: 0;
    top: 230px;
    z-index: 2; /* Поднимает изображение выше синего квадрата */
  }
  
  .hero-img {
    width: 765px;
    height: 606px;
  }
  
  .header__square-pic {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 64px;  /* Сдвигает квадрат под hero-img */
    height: 568px;
    width: 568px;
    background-color: blue;
    z-index: 1; /* Обеспечивает нахождение синего квадрата под изображением */
    margin-top: 64px;
  }

  .content {
    width: 80%;
    margin: 0 auto;
  }
  
  .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
  }
  
  .description-brief {
    width: 175px;
    
  }
  
  .description-brief a {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    
  }
  
  .description-main {
    width: calc(100% - 195px); /* Учет ширины и отступов первой колонки */
  }
  .description-main p {
    margin-top: 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
  }
  
  .span-accent {
    margin: 0;
    display: inline-block;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
 