.intro__list {
  list-style-type: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  padding: 34px 0 0 0;
}

@media screen and (min-width:768px) {
  .intro__list {
    padding: 33px 0 0 0;
  }
}
