.lead__image {
  object-fit: cover;
  width: 100%;
  padding: 0;
  margin: 0;
}

@media screen and (min-width:1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}

@media screen and (min-width:1280px) {
  .lead__image {
    max-width: 984px;
    max-height: 615px;
  }
}
