.card__website {
  display: flex;
  margin: 0;
  grid-area: website;
  flex-direction: column;
  padding: 0 16px;
}

@media screen and (min-width:768px) {
  .card__website {
    padding: 0;
    align-self: end;
  }
}
