.kaufman__triangle {
    width: 877px;
    height: 877px;
    position: absolute;
    right: -210px;
    z-index: 2; 
    transform-origin: 516px 383px;
    animation: rotation 20s linear infinite;
  }
